<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-ES" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="/_sass/main.3f6952e4.css" rel="stylesheet">
  {% seo %}
    {% include head-custom.html %}

  </head>

  <body>

    <!-- Add your content of header -->
    <!-- HEADER -->



    <!-- HEADER -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-inverse">
        <div class="container">

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
            <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
            <ul class="nav navbar-nav ">
              {% if site.github.home_url %}
              <li><a href="index.html" title=""><b>01 : Home</b></a></li>
              {% endif %}

              {% if site.github.another_url %}
              <li><a href="contact.html" title=""><b>02 : Contact</b></a></li>
              {% endif %}
            </ul>
            
          </div> 

        </div>

      </nav>
    </header>



    <!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hola,<br>
                <span id="typed-strings">
                  <span>Soy Jose Oubiña</span>
                  <span>Programador</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
       type();
       movingBackgroundImage();
    });
  </script>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
         navActivePage();
      });
    </script>
    <script type="text/javascript" src="/assets/main.70a66962.js"></script>
  </body>
</html>
